body{
    background-color: #efefef;
    font-family: 'Fjalla One', sans-serif;
    margin: 0;
    text-align: center; 
}
footer{
    background-color: black;
    color: white; 
    height: 3rem;
    padding-top: 10px;
}
h1{
    font-size: 45px;
}
h2{
    font-size: 32px;
}
.half-width{
    width: 40%;
    margin: 5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
}
.half-width img{
    width: 100%
}
.container{
    display: flex;
}
.btn{
    background: #9dc4a8;
    color: black;
    border-radius: 5px;
    text-decoration: none;
    font-family: monospace;
    font-weight: 900;   
    padding: 10px 40px;
    transition: 0.5s;
    margin-bottom: 50px;

}
.btn:hover{
    background: #efefef;
    box-shadow: 3px 2px 10px black;
}
.exp-card{
    box-shadow: -3px 2px 10px black;
    /* width: 80%; */
}
.rounded-border{
    border-radius: 15px;
}
.paragraph{
    padding: 10px 10px;
    margin-bottom: 50px;
}
.border-bottom{
    text-align: center;
    border-bottom: 6px solid;
    border-image: linear-gradient(90deg, #91e7a9 , #465cd6, #d64646);
    border-image-slice :1;
    
}
.shadow-left{
    box-shadow: -2px 2px 5px #707070;
}
.shadow-right{
    box-shadow: 2px 2px 5px #707070;
}
.float-center{
    display:flex; 
    justify-content: center;
}
#portfolio{
    opacity: 0;
    background: #3f3411;
    color: #d4af37;
    /* margin-left: 50px; */

}
#floatBtn{
    position: fixed;
    right: 0px;
    bottom: 0px;
    background: rgb(83, 82, 82);
    padding: 10px;
    color:white;
    border-radius: 15%;
    border: 3px coral;
}